 /*  card blog start*/
 .card-blog{
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top:20px;
 }
 .card-blog-body {
   
 }
 .card-blog-smalltext{
   text-align:left;
   font-size: 16px;
   font-style: italic;
   font-weight: 100;
 }
 .card-blog-name{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: oblique;
 }
 .card-blog-img{
    width: 100%;
    position: relative;
 }
 .card-blog-star i{
    text-align: center;
    padding: 20px;
    font-size: 30px;
 }
 .card-blog-star i:hover{
   color: yellow;
}
.card-blog-star i:active{
   color: rgb(255, 157, 0);
}
  /*  card blog finish*/
  /*  page blog start*/
  .blog-page-title{
   color: rgb(71, 69, 69);
   font-weight: bold;
   font-style: inherit;
   font-size: 40px;
  }
  .blog-page-main-img{
     width: 100%;
  }
  .blog-page-contact-card{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   padding: 20px;
  }
  .blog-page-secondary-img{
     width: 80%;
     padding: 10px;
  }
  .blog-page-card-presentation{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   padding: 20px;
  }
  .blog-page-card-presentation-title{
     text-align: center;
     font-weight: bolder;
  }
  .blog-page-card-presentation-text{
  }
  .blog-page-card-presentation-pres{
     font-weight: 100;
     font-size: 18px;
     font-style: italic;
  }
  /*  page blog finish*/
 /*  card news start*/
 .card-news-link
 {
    color: green;
    text-align: center;
    font-size: 20px;
 }
 .card-news-link:hover{
   color: green;
   text-decoration: none;
 }
.card-news-img {
   width: 100%;
}
.card-news-author{
   font-weight: bold;
   text-align: center;
}
.card-news-date{
   text-align: right;
   font-weight: 100;
   font-style: oblique;
}
.card-news-title{
   text-align:center;
   font-weight: bold;
   padding: 10px;
}
.card-news{
   padding: 20px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin-top:20px;
}
 /*  card news finish*/
  /*  page news start*/
 .news-page-card {
   padding: 30px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin-top:20px;
 }
 .news-page-card-title{
    text-align: center;
    font-style: italic;
    color: rgb(27, 26, 26);
    font-size: 40px;
 }
 .news-page-card-img{
    width: 100%;
 }
 .news-page-card-subt{
    text-align: center;
    color: rgb(27, 26, 26);
    font-size: 35px;
    font-style: italic;
 }
 .news-page-card-text{
    font-style: italic;
    color: rgb(27, 26, 26);
    font-size: 20px;
    line-height: 35px;
    padding-top: 20px;

 }
   /*  page news finish*/
 /*bodystuff*/
 .nav-link{
   justify-content: flex-end;
   margin-top: 0px;
   font-size:35px;   
   margin-left: 40px;
}
.arrow-go-back {
   font-size: 50px;
   color: magenta;
}
.arrow-go-back:hover {
   color: magenta;
}
.image-background-start{
   background: url(https://images.pexels.com/photos/459688/pexels-photo-459688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
   height: 800px;
   width: 100vw;
   background-size:cover;
   overflow: hidden;
}
.filter-bar{
   padding-right: 300px;
   padding-left: 100px;
}
/*bodystuff*/
/* intro-card start*/
.intro-card{
   padding: 40px;
}
.intro-card-title{
   text-align: center;
   padding-top: 20px;
   color: peru;
   font-size: 40px;
   font-weight: bolder;
}
.intro-card-text{
   text-align:left;
   font-size: 12px;
   font-style: italic;
   font-weight: 100;
   color: grey;
}
/* intro-card finish*/